In [1]:
import pandas as pd
from matplotlib import dates as mpl_date
import matplotlib.pyplot as plt

In [2]:
dataCPU = pd.read_csv("CPU.csv")
dataCPU.head()

   Unnamed: 0      Time  Time_Elapsed  CPU_Precentage
0           0  14:15:34      0.104371             3.6
1           1  14:15:35      0.908265            18.7
2           2  14:15:35      1.108785            17.3
3           3  14:15:35      1.309632            16.0
4           4  14:15:35      1.510862             6.3

In [3]:
dfH = []
dfm = []
dfs = []
for index, row in dataCPU.iterrows():
    timestamp = row['Time']
    H,m,s = timestamp.split(':')
    dfH.append(H)
    dfm.append(m)
    dfs.append(s)

dataCPU['H'] = dfH
dataCPU['m'] = dfm
dataCPU['s'] = dfs

dataCPU.head()

   Unnamed: 0      Time  Time_Elapsed  CPU_Precentage   H   m   s
0           0  14:15:34      0.104371             3.6  14  15  34
1           1  14:15:35      0.908265            18.7  14  15  35
2           2  14:15:35      1.108785            17.3  14  15  35
3           3  14:15:35      1.309632            16.0  14  15  35
4           4  14:15:35      1.510862             6.3  14  15  35

In [5]:
dataCPU.groupby('m')

   Unnamed: 0      Time  Time_Elapsed  CPU_Precentage   H   m   s
0           0  14:15:34      0.104371             3.6  14  15  34
1           1  14:15:35      0.908265            18.7  14  15  35
2           2  14:15:35      1.108785            17.3  14  15  35
3           3  14:15:35      1.309632            16.0  14  15  35
4           4  14:15:35      1.510862             6.3  14  15  35

In [4]:
plt.plot_date(data['Time'], data['CPU_Precentage'])
name = "CPU.png"
plt.gcf().autofmt_xdate()

date_format = mpl_date.DateFormatter('%H:%M:%S')
plt.gca().xaxis.set_major_formatter(date_format)
plt.tight_layout()

plt.savefig(name, bbox_inches='tight')
plt.show()

NameError: name 'plt' is not defined